.form-style form input, form textarea, form select {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #bcbcbc;
    border-radius: 0.375rem;
}
.form-style form input:focus, form textarea:focus, form select:focus {
    outline: none;
    border-color: #6c6c6c;
    box-shadow: 0 0 0 3px #6c6c6c;
}
@keyframes shine {
    0% { background-position: -200% 0; }
    100% { background-position: 200% 0; }
}
.animate-shine {
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.3));
    background-size: 200% 100%;
    animation: shine 3s infinite;
}

.card {
    border-radius: 8px; /* Lebih menonjolkan sudut */
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px); /* Efek angkat saat hover */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Bayangan lebih dalam saat hover */
  }

.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full height to center vertically */
    background-color: #d3d3d3; /* Background color */
    text-align: center; /* Center the text */
}

.empty-image {
    width: 200px; /* Adjust width as needed */
    height: auto;
    margin-bottom: 1rem; /* Adds some space between the image and text */
}

.empty-message {
    font-size: 1.2rem;
    color: #080808;
    max-width: 400px;
    text-align: center; /* Ensure text is centered */
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .input-field:focus {
    outline: none;
    border-color: #080808;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
  
  textarea.input-field {
    resize: none; /* Mengunci ukuran box textarea agar tidak bisa diubah */
  }